nav {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0 100px;
  position: sticky;
  top: 0px;
  z-index: 3;
  box-shadow: 0 0 9px 1px #00000060;
}

nav .logo {
  color: #5fc477;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}

nav .nav-items {
  display: flex;
  /* flex: 1; */
  padding: 0 0 0 40px;
}

nav .nav-items li {
  list-style: none;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.7s;
}

nav .nav-items li a {
  color: #00000099;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}

nav .menu-icon,
nav .cancel-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .menu-icon span,
nav .cancel-icon {
  display: none;
}

@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1000px) {
  nav {
    padding: 0px;
  }

  nav .logo {
    flex: 2;
    text-align: center;
  }

  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #fff;
    display: inline-block;
    transition: left 0.3s ease;
  }

  nav .nav-items.active {
    left: 0px;
  }

  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }

  nav .nav-items li a {
    font-size: 20px;
  }

  nav .menu-icon {
    display: block;
  }
  nav .menu-icon img {
    width: 75%;
  }

  nav .search-icon,
nav .menu-icon span {
    display: block;
  }

  nav .menu-icon span.hide,
nav .search-icon.hide {
    display: none;
  }

  nav .cancel-icon.show {
    display: block;
  }
}
.cancel-icon img {
  width: 75%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.content header {
  font-size: 30px;
  font-weight: 700;
}

.content .text {
  font-size: 30px;
  font-weight: 700;
}

.space {
  margin: 10px 0;
}

nav .logo.space {
  color: #5fc477;
  padding: 0 5px 0 0;
}

@media (max-width: 980px) {
  nav .menu-icon,
nav .cancel-icon {
    margin: 0 20px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
nav .cancel-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F3F3F7;
  position: relative;
}

header {
  position: relative;
  background-image: linear-gradient(to top, #2388a7, #13576c);
  color: #ffffff;
  padding-bottom: 40px;
}
header .header-left, header .header-right {
  padding-top: 60px;
}
header .header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header-left span {
  font-size: 10px;
  letter-spacing: 2px;
  opacity: 0.8;
  letter-spacing: 2px;
}
header .header-left h2 {
  font-size: 40px;
  margin: 10px 0px;
}
header .header-left p {
  line-height: 1.4;
  font-size: 20px;
  padding: 10px;
  opacity: 0.9;
}
header .btn-1, header .btn-2 {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  margin-right: 5px;
  font-weight: 500;
}
header .btn-1 {
  background-color: #5fc477;
  color: #ffffff;
}
header .btn-2 {
  background-color: #ffffff;
  color: #13576c;
}
header .header-right img {
  width: 100%;
}

.scroll-mouse {
  height: 42px;
  width: 26px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 50px auto 0px auto;
}
.scroll-mouse .wheel {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #13576c;
  margin-top: 10px;
  animation: wheel 2s ease infinite;
}

@keyframes wheel {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(18px);
  }
}
header .curve {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -2px;
  z-index: 0;
  width: 100%;
}

.features {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #F3F3F7;
}

.trusted-logos .trusted-logo {
  width: 100%;
}
.trusted-logos .trusted-logo img {
  filter: grayscale(100%);
  width: 70%;
  cursor: pointer;
  transition: all 0.2s linear;
}
.trusted-logos .trusted-logo img:hover {
  transform: scale(1.2);
}

.feature {
  padding-top: 100px;
}
.feature img {
  width: 100%;
}
.feature .feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}
.feature .feature-text span {
  font-size: 10px;
  letter-spacing: 2px;
  color: #555;
  letter-spacing: 2px;
}
.feature .feature-text h3 {
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.feature .feature-text .line {
  background-color: #5fc477;
  width: 88px;
  height: 3px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.feature .feature-text p {
  color: #555;
  margin-bottom: 30px;
}
.feature .feature-text button {
  width: 160px;
  border-radius: 10px;
  padding: 12px 24px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  background-color: #5fc477;
  color: #ffffff;
}
.feature .feature-img {
  margin-bottom: 40px;
}

.feature-2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-2 label {
  background-color: #5fc477;
  color: #ffffff;
  text-align: center;
  padding-left: 3px;
  padding-right: 4px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.feature-2 p {
  text-align: center;
  flex-basis: 50%;
  color: #555;
}

.features-3 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.features-3 .feature-item {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.features-3 h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.features-3 p {
  color: #555;
}
.features-3 img {
  width: 100px;
}
.features-3 .learn-more {
  display: flex;
}
.features-3 .learn-more p {
  color: #13576c;
  margin-bottom: 0px;
  cursor: pointer;
}
.features-3 .learn-more img {
  width: 16px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 1s;
}
.features-3 .learn-more:hover img {
  transform: translate(8px, 0);
}

.pricing {
  padding-top: 90px;
  position: relative;
}

.pricing-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}
.pricing-top span, .pricing-top h3, .pricing-top p {
  color: #ffffff;
  text-align: center;
}
.pricing-top span {
  font-size: 12px;
  letter-spacing: 1.2px;
  opacity: 0.6;
}
.pricing-top h3 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 400;
}
.pricing-top p {
  margin-bottom: 50px;
}
.pricing-top .line {
  width: 150px;
  height: 2px;
  background-color: #5fc477;
  border-radius: 20px;
  margin-bottom: 30px;
}

.pricing-items .row {
  justify-content: space-between;
  flex-wrap: nowrap;
}
.pricing-items .pricing-item:nth-child(1), .pricing-items .pricing-item:nth-child(2) {
  margin-right: 10px;
}
.pricing-items .pricing-item {
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 0px 12px 2px #00000017;
}
.pricing-items .pricing-item img, .pricing-items .pricing-item h3, .pricing-items .pricing-item h4, .pricing-items .pricing-item p {
  text-align: center;
}
.pricing-items .pricing-item img {
  width: 70%;
  height: 130px;
  margin: 0px auto 20px auto;
}
.pricing-items .pricing-item h4 {
  margin-top: 20px;
  font-size: 25px;
}
.pricing-items .pricing-item .price h3 {
  font-size: 40px;
  color: #13576c;
  font-weight: 400;
}
.pricing-items .pricing-item .price p {
  opacity: 0.6;
  font-size: 14px;
}
.pricing-items .pricing-item button {
  width: 160px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 12px 24px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  background-color: #5fc477;
  color: #ffffff;
  transition: all 0.7s;
}
.pricing-items .pricing-item button:hover {
  background-color: #13576c;
}
.pricing-items .pricing-features {
  margin-top: 20px;
}
.pricing-items .pricing-features .pricing-feature {
  display: flex;
}
.pricing-items .pricing-features .pricing-feature-icon {
  background-image: url("../img/icons/pricing-feature-icon.svg");
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}
.pricing-items .disabled {
  opacity: 0.5;
}

.pricing .pricing-v1-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
  height: 62%;
  background-image: linear-gradient(to top, #2388a7, #13576c);
  z-index: -1;
}
.pricing .pricing-v1-background img {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -2px;
  z-index: 0;
  width: 100%;
}

.end-text {
  width: 100%;
  margin-top: 50px;
}
.end-text p {
  color: #555;
  text-align: center;
}

.faq {
  padding-top: 100px;
  padding-bottom: 100px;
}

.faq-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.faq-left h2 {
  font-size: 46px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: normal;
}
.faq-left .more-questions p {
  color: #13576c;
}

.faq-sticky {
  position: sticky;
  top: 95px;
}
.faq-sticky img {
  width: 100px;
}

.faq-right {
  display: flex;
  flex-direction: column;
}
.faq-right .faq-question {
  display: flex;
  padding-bottom: 20px;
}
.faq-right .faq-icon-box {
  margin: 15px;
}
.faq-right .faq-icon {
  background-image: url("../img/icons/faq-icon.svg");
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-position: center;
}
.faq-right .faq-text {
  flex: 1;
}
.faq-right .faq-text h3 {
  font-size: 30px;
  font-weight: normal;
}
.faq-right .faq-text p {
  color: #555;
}

.testimonials {
  background-color: #ffffff;
  padding-bottom: 100px;
}

.testimonials-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonials-header p {
  letter-spacing: 1.2px;
  color: #00000080;
  text-transform: uppercase;
}
.testimonials-header h2 {
  font-size: 40px;
  font-weight: 500;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-slider {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.client-slider p {
  padding: 10px 40px;
}
.client-slider span {
  color: #ff9b17;
  background-color: #F2A94920;
  padding: 3px;
}

.rating {
  display: flex;
  padding-bottom: 40px;
}

.icon-star {
  background-image: url("../img/star-solid.svg");
  height: 16px;
  width: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
}

.start {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #13576c;
}
.start img {
  width: 100px;
  margin: 20px;
}

.start-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}
.start-text h3 {
  font-size: 35px;
  font-weight: normal;
}
.start-text button {
  border: none;
  background-color: #5fc477;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
}

.learn {
  background-color: #F3F3F7;
  padding-top: 120px;
  padding-bottom: 100px;
}

.learn-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}
.learn-text p {
  color: #555;
  font-size: 14px;
  margin-bottom: 1px;
}
.learn-text h3 {
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 20px;
}
.learn-text button {
  border: none;
  background-color: #5fc477;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
}

.swiper-container-2 {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-slider {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  padding-bottom: 15px;
  border-radius: 13px;
  border: 1px solid #cccccc80;
}
.blog-slider .blog-img {
  padding: 15px;
}
.blog-slider .blog-title p, .blog-slider .blog-title h3 {
  padding-left: 20px;
  padding-right: 20px;
}
.blog-slider .blog-title p {
  font-size: 13px;
  color: #555;
  margin-bottom: 4px;
  opacity: 0.8;
}
.blog-slider .blog-title h3 {
  font-size: 26px;
  font-weight: normal;
}
.blog-slider .category {
  text-transform: uppercase;
  opacity: 1;
}
.blog-slider img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.blogger {
  padding-top: 25px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogger img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.blogger p {
  padding-left: 15px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Srisakdi", cursive;
  font-weight: bold;
  opacity: 0.8;
}

footer {
  padding-top: 40px;
  background-color: #13576c;
  padding-bottom: 10px;
}

.footer-items {
  margin-top: 40px;
}
.footer-items ul li {
  list-style-type: none;
  padding: 5px;
  font-weight: bold;
}
.footer-items .li-header {
  color: #ffffff60;
  margin-bottom: 15px;
  cursor: default;
}
.footer-items li a {
  color: #ffffff99;
  font-weight: normal;
}
.footer-items li a:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer-line {
  margin-top: 50px;
  width: 100%;
  height: 1px;
  opacity: 0.6;
  border-radius: 20px;
  background-color: #ccc;
}

.footer-end .row {
  justify-content: space-between;
}

.footer-social {
  margin-top: 5px;
  display: flex;
}
.footer-social a {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  text-align: center;
  position: relative;
  border-radius: 8px;
  transition: all 0.4s linear;
}
.footer-social a:hover {
  background-color: #cccccc40;
}
.footer-social svg {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff80;
}
.footer-social img {
  width: 25px;
  height: 25px;
}

.footer-copy {
  font-size: 12px;
  margin-top: 5px;
  text-align: end;
  color: #cccccc70;
}
.footer-copy a {
  color: #ffffff;
  font-style: italic;
}
.footer-copy a:hover {
  text-decoration: underline;
}

.swiper-button-prev, .swiper-button-next {
  z-index: 2;
  color: #5fc477;
  opacity: 0.5;
  transition: all 0.5s linear;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

@media (max-width: 576px) {
  .trusted-logo {
    text-align: center;
  }
  .trusted-logo img {
    margin: 10px;
    width: 45% !important;
  }

  .feature-item {
    text-align: center;
  }

  .pricing-item {
    width: 85%;
  }

  .feature .feature-text {
    padding-left: 20px !important;
    text-align: center;
    align-items: center;
  }

  .features-3 .feature-item {
    align-items: center;
  }
}
@media (max-width: 768px) {
  footer ul {
    text-align: center;
  }

  .feature-item {
    padding-bottom: 20px;
  }

  .features-3 .feature-item {
    align-items: center;
  }
}
@media (max-width: 992px) {
  .trusted-logo {
    text-align: center;
  }

  .feature-item {
    text-align: center;
  }
}
@media (max-width: 1050px) {
  .pricing-items .row {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .pricing-items .pricing-item {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .faq-left {
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }

  .col-md-6 {
    flex: 47%;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}