.swiper-button-prev, .swiper-button-next {
    color: $colorYellow;
    opacity: .5;
    transition: all .5s linear;
    &:hover {
        opacity: 1;
    }
}
.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: 0;
}
