.features {
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: $colorBody;
}
.trusted-logos {
    .trusted-logo {
        width: 100%;
        
        img {
            filter: grayscale(100%);
            width: 70%;
            cursor: pointer;
            transition: all .2s linear;
        }
        img:hover {
            transform: scale(1.2);
        }
    }
}

.feature {
    padding-top: 100px;
        img {
            width: 100%;
        }
        .feature-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 80px;
            span {
                font-size: 10px;
                letter-spacing: 2px;
                color: #555;
                letter-spacing: 2px;
            }
            h3 {
                font-size: 34px;
                line-height: 1.2;
                margin-bottom: 20px;
            }
            .line {
                background-color: $colorYellow;
                width: 88px;
                height: 3px;
                border-radius: 20px;
                margin-bottom: 20px;
            }
            p {
                color: #555;
                margin-bottom: 30px;
            }
            button {
                width: 160px;
                border-radius: 10px;
                padding: 12px 24px;
                border: none;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.4;
                background-color: $colorYellow;
                color: $colorWhite;
            }
        }
        .feature-img {
            margin-bottom: 40px;
        }
}

.feature-2 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    label {
        background-color: $colorYellow;
        color: $colorWhite;
        text-align: center;
        padding-left: 3px;
        padding-right: 4px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.5px;
    }
    p {
        text-align: center;
        flex-basis: 50%;
        color: #555;
    }
}

.features-3 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    .feature-item {
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        color: #555;
    }
    img {
        width: 100px;
    }
    .learn-more {
        display: flex;
        
         p {
            color: $colorPurple;
            margin-bottom: 0px;
            cursor: pointer;
        }
        img {
            width: 16px;
            margin-left: 5px;
            cursor: pointer;
            transition: all 1s;
        }
        &:hover img{
            transform: translate(8px, 0);
        }    
    }
    
}