@media (max-width: 576px) {
    .trusted-logo {
        text-align: center;
        img {
            margin: 10px;
        }
    }
    .feature-item {
        text-align: center;
    }
    .pricing-item {
      width: 85%;
    }
    
}
@media (max-width: 768px) {
  footer ul {
    text-align: center;
  }
  .feature-item {
    padding-bottom: 20px;
}
}

@media (max-width: 992px) {
  .trusted-logo {
    text-align: center;
  }
  .feature-item {
    text-align: center;
}
}

@media (max-width: 1050px) {
    .pricing-items {
        .row {
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .pricing-item {
            margin-bottom: 20px;
            margin-right: 0;
        }
    }
    .faq-left {
      margin-bottom: 20px;
      // text-align: center;
    }
}



@media (min-width: 576px) {
    .container, .container-sm {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container, .container-sm, .container-md {  
      max-width: 720px;
    }
    .col-md-6 {
      flex: 47%;
    }
  }
  
  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1140px;
    }
  }